name: FastAPI CI

on:
  push:
    branches: [main, feature/milestone4 ]
    paths:
      - app/**
      - migrations/**
      - static/**
      - tests/**
  workflow_dispatch:
    inputs:
      description:
      required: true
      default: ''

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install flake8
        run: pip install -r requirements.txt flake8

      - name: Run CI pipeline via Makefile
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: make ci
